# [dirs]
.cache/
.coverage/
.docker/
.phpunit.cache/
var/
vendor/

# [files]
docker-compose.yaml
phpunit.xml

# Added the json files to the repo for completeness of the example.

# exclude all json files used for tests
# *.json